<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/demo.js"></script>
</head>
<body ng-app="starter">

<ion-pane ng-controller="main">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Test App</h1>
  </ion-header-bar>
  <ion-content>
    <button class="button button-energized" ng-click="startService()">
      Start service
    </button>
    <button class="button button-energized" ng-click="stopService()">
      Stop service
    </button>
    <button class="button button-energized" ng-click="getLocation()">
      Get Location
    </button>
    <button class="button button-energized" ng-click="enableMapping()">
      enable Mapping
    </button>
    <button class="button button-energized" ng-click="getTotal()">
      {{distance}}
    </button>
    <button class="button button-positive" ng-click="setStopID(123)">
      stopdID 123
    </button>
    <button class="button button-positive" ng-click="setStopID(456)">
      stopdID 456
    </button>
    <button class="button button-positive" ng-click="setStopID(789)">
      stopdID 789
    </button>

    <button class="button button-royal" ng-click="getStopID(123)">
      get stopdID 123
    </button>
    <button class="button button-royal" ng-click="getStopID(456)">
      get stopdID 456
    </button>
    <button class="button button-royal" ng-click="getStopID(789)">
      get stopdID 789
    </button>
    <button class="button button-dark" ng-click="getStopID('UNKNOWN')">
      get stopdID UNKNOWN
    </button>
    <button class="button button-assertive" ng-click="getLastStopID()">
      getLastStopID
    </button>
    <button class="button button-assertive" ng-click="getKeySet()">
      getKeySet
    </button>
    <button class="button button-assertive" ng-click="getTotalNET()">
      getTotalNET
    </button>
    <button class="button button-assertive" ng-click="takePhoto()">
      take photo
    </button>
  </ion-content>
</ion-pane>
</body>
</html>
