<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" name="LocationPlugin" id="dff-cordova-plugin-location" version="1.0.0" xmlns="http://www.phonegap.com/ns/plugins/1.0">
  <name>Location Plugin</name>
  <description>Location Plugin</description>
  <keywords>Tickets, Ping, Background Process, REST API</keywords>
  <author>dff-solutions</author>
  <js-module name="LocationPlugin" src="www/location-plugin.js">
    <clobbers target="LocationPlugin"/>
  </js-module>
  <js-module name="cordova-exec" src="www/cordova-exec.js"/>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="LocationPlugin">
        <param name="android-package" value="com.dff.cordova.plugin.location.plugin.LocationPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <service android:name="com.dff.cordova.plugin.location.core.services.LocationForegroundService"/>
      <receiver android:name="com.dff.cordova.plugin.location.core.receivers.LocationUpdateBR"/>
      <receiver android:name="com.dff.cordova.plugin.location.core.receivers.ProximityAlertBR"/>
      <receiver android:name="com.dff.cordova.plugin.location.core.receivers.StartLocationBR">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED"/>
          <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
        </intent-filter>
      </receiver>
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    </config-file>
    <framework custom="true" src="location-plugin/build.gradle" type="gradleReference"/>
    <hook src="hooks/patchAndroidGradle.js" type="before_plugin_install"/>
    <hook src="hooks/unpatchAndroidGradle.js" type="before_plugin_uninstall"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/LocationPlugin.java" target-dir="src/com/dff/cordova/plugin/location/plugin/LocationPlugin.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/DeleteLocationUpdateRequest.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/DeleteLocationUpdateRequest.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/DeleteLocations.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/DeleteLocations.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/DeleteProximityAlert.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/DeleteProximityAlert.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/DeleteProximityAlertEvents.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/DeleteProximityAlertEvents.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetAllProviders.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetAllProviders.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetConfig.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetConfig.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetLastKnownLocation.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetLastKnownLocation.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetLocationUpdateRequests.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetLocationUpdateRequests.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetLocations.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetLocations.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetProvider.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetProvider.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetProximityAlertEvents.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetProximityAlertEvents.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/GetProximityAlerts.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/GetProximityAlerts.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/IsLocationEnabled.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/IsLocationEnabled.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/IsProviderEnabled.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/IsProviderEnabled.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/LocationAction.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/LocationAction.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/OnLocationStatusChanged.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/OnLocationStatusChanged.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/OnLocationUpdate.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/OnLocationUpdate.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/OnProviderEnabled.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/OnProviderEnabled.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/OnProximityAlert.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/OnProximityAlert.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/Pause.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/Pause.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/ReadDiagnostics.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/ReadDiagnostics.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/RequestLocationUpdate.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/RequestLocationUpdate.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/RequestProximityAlert.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/RequestProximityAlert.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/Resume.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/Resume.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/SetConfig.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/SetConfig.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/StartForeground.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/StartForeground.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/StopForeground.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/StopForeground.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/realm/Compact.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/realm/Compact.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/realm/Delete.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/realm/Delete.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/realm/DeleteAll.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/realm/DeleteAll.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/realm/GetDatabaseInformation.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/realm/GetDatabaseInformation.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/action/realm/RealmAction.java" target-dir="src/com/dff/cordova/plugin/location/plugin/action/realm/RealmAction.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/dagger/LocationPluginDaggerManager.java" target-dir="src/com/dff/cordova/plugin/location/plugin/dagger/LocationPluginDaggerManager.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/dagger/annotations/LocationPluginScope.java" target-dir="src/com/dff/cordova/plugin/location/plugin/dagger/annotations/LocationPluginScope.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/dagger/components/LocationPluginComponent.java" target-dir="src/com/dff/cordova/plugin/location/plugin/dagger/components/LocationPluginComponent.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/dagger/module/LocationPluginModule.java" target-dir="src/com/dff/cordova/plugin/location/plugin/dagger/module/LocationPluginModule.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/listeners/callback/CallbackHandler.java" target-dir="src/com/dff/cordova/plugin/location/plugin/listeners/callback/CallbackHandler.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/listeners/callback/OnLocationStatusChangedCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/location/plugin/listeners/callback/OnLocationStatusChangedCallbackHandler.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/listeners/callback/OnLocationUpdateCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/location/plugin/listeners/callback/OnLocationUpdateCallbackHandler.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/listeners/callback/OnProviderEnabledCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/location/plugin/listeners/callback/OnProviderEnabledCallbackHandler.java"/>
    <source-file src="location-plugin/src/main/java/com/dff/cordova/plugin/location/plugin/listeners/callback/OnProximityAlertCallbackHandler.java" target-dir="src/com/dff/cordova/plugin/location/plugin/listeners/callback/OnProximityAlertCallbackHandler.java"/>
  </platform>
</plugin>