# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/npm-debug.log
/hooks/
/resources/android/
/res/
/resources/ios/
/scss/
/resources/icon.png
/resources/splash.png
/resources/
/www/manifest.json
/www/css/
/www/sounds/
/www/img/
/www/service-worker.js
/www/lib/
/bash.exe.stackdump
/gulpfile.js
/ionic.config.json
/.bowerrc
/.editorconfig
/bower.json
